.navbar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #9310bf;
}

.navbar .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  justify-items: center;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  align-self: center;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.navbar a:hover {
  background-color: #c66ee3;
  color: white;
  cursor: pointer;
}
