<div>
  <app-navbar [loggedIn]="userIsLoggedIn"></app-navbar>
  <div class="content">
    <h1>Login</h1>
    <form class="register-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="Enter your email">
      <app-form-error [form]="loginForm" [controlName]="'email'"></app-form-error>

      <input type="password" formControlName="password" placeholder="Enter your password">
      <app-form-error [form]="loginForm" [controlName]="'password'"></app-form-error>

      <div class="remember-me">
        <input type="checkbox" formControlName="rememberMe">
        <label> Remember me </label>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
</div>

